/* ------------------------------------
    Page Style
--------------------------------------*/

.bPost_disp_page{

  .content_full{
    margin-bottom: 30px;


    .image_block img{
      // width: 100%;
    }


    .bText{
      letter-spacing: 0;
      font-size: 18px;
      font-family: "Merriweather", sans-serif;
      color: #515151;
      line-height: 1.8;

      p{
        margin-bottom: 22px;
      }
    }
  }
}

.disp_page{

  .single_bg{

    .entry-title-full{
      position: absolute;
      top: 45%;
      left: 0;
      right: 0;
      z-index: 1;
      color: #fff;
      font-weight: 900;
      font-size: 56px;
      text-transform: capitalize;
      text-align: center;
      width: 100%;
      z-index: 1;
      max-width: 750px;
      margin: 0 auto;
      padding: 0 30px;
    }
  }

  .entry-title-full{
    margin: 0 auto;
    text-align: center;
  }

  .single_bg.nocover{

    .entry-title-full{
      position: relative;
      color: #333;
    }
  }
}

@media only screen and (max-width: 40em) {

  .disp_page{

    .single_bg {
      height: 550px;

      .entry-title-full{
        font-size: 2.3em;
        padding: 0 30px;
      }
    }

    .single_bg.nocover {
      height: auto;

      .entry-title-full{
        font-size: 2em;
        padding: 0 30px;
      }
    }

  }
}


/* ------------------------------------
    Comment Page
--------------------------------------*/

/* ------------------------------------
    Comment Style
--------------------------------------*/

.page_comment{
  border: none;
  border-color: none;
  box-shadow: none;

  .panel-heading{
    background: transparent;
    padding: 0 0 10px;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 16px;
  }

  .panel-body{

    p{
      font-size: 15px;
      padding: 0 10px 5px 90px;
    }

    .bCommentSmallPrint{
      padding-top: 10px;
    }
  }

  .permalink_right{
    background: #ECECEC;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 13px;
    color: #333;
    @include transition(all 0.32s ease-in-out);

    &:hover{
      background: #32B9D2;
      color: #fff;
      text-decoration: none;
      @include transition(all 0.32s ease);

      span{
        color: #fff !important;
      }
    }
  }

}

h4.comment_text{
  text-transform: capitalize;
  font-size: 22px;
  margin: 30px 0 10px;
  font-weight: 600;
}

#styled_content_block img.bCommentAvatar{
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  margin: 0 10px 10px 0;
}

.bPost .ratings_table{
  margin-bottom: 30px;
}

.bComment{

  .SaveButton{
    background: #32B9D2;
    border: none;
    color: #fff;
    font-weight: 600;
    outline: none;
  }

  .preview.btn{
    border: none;
    background: #ECECEC;
    outline: none;
  }
}

.comment_notification,
.feedback_feed_msg
{
  font-size: 15px;
}
