/* ------------------------------------
    Style Posts
--------------------------------------*/

h2.title_posts{
  font-weight: 900;
  text-transform: capitalize;

  a{
    color: #333333;
  }
}

.bMore {
  font-size: 14px;
}

