.evo_container__front_page_primary{

  .jumbotron{

    .post_title{
      h2{
        font-weight: 700;
        a{
          color: #41494C;
        }
      }
    }

    .evo_post__full_text{
      font-size: 16px;
      letter-spacing: 1px;
      line-height: 26px;
      // font-family: "Merriweather", sans-serif;

      p{
        font-size: 16px;
      }
    }
  }

  .evo_widget{

    a{
      color: #205A84;
      font-size: 16px;
      letter-spacing: 0.5px;

      &:hover{
        background-color: transparent;
      }
    }

    & > ul {
      & > li {
        padding: 8px 0;
        border-bottom: 1px solid #F4F4F4;
      }
    }


    &.widget_core_coll_post_list{
      ul{

        li{
          padding: 8px 0;
        }
      }
    }

  }


}
