///////////////////////////////////////////
///////////// Post Main Style /////////////
///////////////////////////////////////////
body.disp_posts{

  h2.title_posts{
    font-weight: 900;
    text-transform: capitalize;
    letter-spacing: 0.8px;

    a{
      color: #555;
    }
  }
}

.bPost_disp_posts, .bPost,
.featurepost{
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;

  .content_full,
  .evo_post__full{

    .bText,
    .evo_post__full_text{

      p{
        margin-bottom: 15px;
      }
    }
  }
}
