///////////////////////////////////////////
///////////// Post Main Style /////////////
///////////////////////////////////////////
body.disp_posts{

  h2.title_posts{
    font-weight: 900;
    text-transform: capitalize;

    a{
      color: #333333;
    }
  }

  .bPost_disp_posts, .bPost{

    .content_full,
    .evo_post__full{

      .bText,
      .evo_post__full_text{
        font-family: "Merriweather", sans-serif;
        line-height: 26px;
        font-size: 15px !important;
        letter-spacing: 0.6px;
        color: rgba(51, 51, 51, 0.81);
        font-size: 16px;
        margin-bottom: 25px;

        p{
          margin-bottom: 15px;
        }
      }
    }
  }

}
