/* ------------------------------------
    Include Google Font
--------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300,700);
/* ------------------------------------
    Include Bourbon Mixin
--------------------------------------*/
/* ------------------------------------
    Common Style
--------------------------------------*/
html {
  overflow-y: scroll;
  -moz-overflow-style: scrollbar; }

html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased; }

a, b, div, ul, li {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  -moz-outline-: none; }

a:hover {
  -webkit-transition: all 0.32s ease-in-out;
  -moz-transition: all 0.32s ease-in-out;
  transition: all 0.32s ease-in-out; }

a:focus,
a:active {
  -moz-outline: none;
  outline: none; }

img:not([draggable]), embed, object, video {
  max-width: 100%;
  height: auto; }

/* ------------------------------------
    Typograpy
--------------------------------------*/
body#reporter_skin {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #333333;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased; }

/* ------------------------------------
    Include File
--------------------------------------*/
/* ------------------------------------
    Style Content
--------------------------------------*/
body#reporter_skin .pager li > a
body#reporter_skin, .pager li > span {
  border-radius: 50px; }

.entry-title {
  font-weight: 900; }

.content_full .bText {
  letter-spacing: 0.6px;
  font-size: 18px;
  font-family: "Merriweather", sans-serif;
  color: #515151;
  line-height: 1.8; }
  .content_full .bText p {
    margin: 0 0 20px; }

.bPost_disp_single .text-muted {
  font-size: 16px; }

/* ------------------------------------
    Menu
--------------------------------------*/
.single_menu {
  background: #fff; }

/* ------------------------------------
    Single Full Width Background
--------------------------------------*/
.single_bg {
  margin: 0 0 30px;
  height: 640px;
  max-height: 100%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden; }
  .single_bg .entry-title-full {
    color: #fff;
    font-weight: 900;
    font-size: 60px;
    text-transform: capitalize;
    position: absolute;
    top: 32%;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
    z-index: 1;
    max-width: 720px;
    margin: 0 auto;
    padding: 0 30px; }
  .single_bg .divider {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 0; }

/* ------------------------------------
    Responsive
--------------------------------------*/
@media only screen and (max-width: 40em) {
  .single_bg .entry-title-full {
    font-size: 2.3em;
    padding: 0 30px; }

  .content_full .bText {
    letter-spacing: 0.6px;
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 40px; } }
/* ------------------------------------
    Header
--------------------------------------*/
.pageHeader {
  margin-bottom: 20px; }
  .pageHeader .title_site a {
    color: #333333;
    text-transform: uppercase;
    font-weight: 900; }
    .pageHeader .title_site a:hover {
      text-decoration: none; }

.PageTop {
  margin-top: 20px; }
  .PageTop .widget--social-media-links {
    text-align: right; }

.nav.nav-tabs {
  margin-top: 0; }

/* ------------------------------------
    // Login widget form
--------------------------------------*/
.widget_core_user_login #login_form .form-group {
  margin: 0; }
.widget_core_user_login #login_form label {
  text-align: left;
  width: 160px;
  padding-left: 0; }
.widget_core_user_login #login_form .controls {
  padding: 0;
  width: 100%; }
.widget_core_user_login #login_form .form_text_input.form-control {
  width: 100%; }
.widget_core_user_login .submit {
  font-size: 12px; }
.widget_core_user_login .field_login_btn .panel {
  margin: 0;
  border: none;
  border-radius: 0;
  box-shadow: none; }
  .widget_core_user_login .field_login_btn .panel .panel-body {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0; }
    .widget_core_user_login .field_login_btn .panel .panel-body #submit_login_form {
      margin-right: 10px; }
.widget_core_user_login .register_link {
  display: block;
  padding-top: 10px; }

/* ------------------------------------
    // Register widget form
--------------------------------------*/
.widget_core_user_register #register_form .form-group {
  margin: 0; }
.widget_core_user_register #register_form label {
  text-align: left;
  width: 160px;
  padding-left: 0; }
.widget_core_user_register #register_form .controls {
  padding: 0;
  width: 100%; }
.widget_core_user_register #register_form .form_text_input.form-control {
  width: 100%; }
.widget_core_user_register .submit {
  font-size: 12px; }
.widget_core_user_register .field_register_btn .panel {
  margin: 0;
  border: none;
  border-radius: 0;
  box-shadow: none; }
  .widget_core_user_register .field_register_btn .panel .panel-body {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0; }
    .widget_core_user_register .field_register_btn .panel .panel-body #submit_login_form {
      margin-right: 10px; }

/* ------------------------------------
    // Profile tabs on ?disp=profile
--------------------------------------*/
ul.profile_tabs {
  margin: 0 2ex 2ex;
  position: relative;
  top: 1px; }

.profile_avatar {
  float: right;
  padding: 10px;
  margin-left: 10px; }

div.bComment, form.bComment {
  border-color: #DDD;
  padding: 1em; }
  div.bComment .controls textarea.form-control, form.bComment .controls textarea.form-control {
    width: 100%; }

input.search_field {
  margin-bottom: 0;
  display: inline-block; }

form.search .search_options {
  width: 100%; }
  form.search .search_options .search_option input {
    margin-right: 5px; }
  form.search .search_options .search_option label {
    margin-bottom: 0;
    margin-top: 5px; }

div.compact_search_form input.search_field {
  width: 100%;
  margin: 0; }

div.extended_search_form {
  text-align: center;
  margin: 0 auto 2em auto;
  max-width: 530px; }
  div.extended_search_form .search_options {
    text-align: center; }
    div.extended_search_form .search_options .search_option {
      display: inline-block;
      margin-right: 10px; }

table.catselect input#new_category_name {
  width: 98% !important; }

label.control-label[for=post_title] {
  width: auto; }

.item_tags td.label {
  background: none;
  color: #000;
  text-shadow: none;
  padding: 0;
  font-size: 100%; }
.item_tags td.input {
  width: 90%; }
  .item_tags td.input label {
    display: none; }
.item_tags .controls {
  margin-left: 0; }

/* ------------------------------------
    // A form to create a new message/thread
--------------------------------------*/
.messages_list form.bComment {
  background: none; }

textarea.message_text {
  width: 95%; }

/* ------------------------------------
    // Fix the form elements
--------------------------------------*/
.comment_form h3 {
  margin: 0; }
.comment_form .panel {
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none; }
  .comment_form .panel .panel-body {
    padding: 0; }

form.bComment {
  border: none;
  padding: 0;
  overflow: visible; }
  form.bComment .form-actions {
    margin-bottom: 0; }
  form.bComment legend {
    padding: 0 10px; }
  form.bComment div.form-group, form.bComment div.custom_content {
    padding: 0 20px; }
  form.bComment fieldset {
    margin-top: 0; }
  form.bComment input[type=file] {
    display: inline; }

#comment_date_field input {
  width: 80px; }
#comment_date_field label {
  font-weight: normal; }

.form-group[id^="ffield_uploadfile"] .controls {
  padding-top: 5px; }
  .form-group[id^="ffield_uploadfile"] .controls input {
    line-height: 10px; }

/* ------------------------------------
    // Comment template
--------------------------------------*/
.comment_rating {
  margin-top: 2px; }

#comment_edit .comment_rating {
  margin-top: 9px; }

.ratings_table {
  margin-bottom: 10px; }
  .ratings_table .rating_summary {
    border-spacing: 1px;
    border-collapse: separate; }
  .ratings_table .progress {
    border-radius: 0;
    height: 13px; }

#comment_preview {
  background-color: #FFF; }

#comment_date_field .panel {
  border: none;
  box-shadow: none;
  margin-bottom: 0; }
  #comment_date_field .panel .panel-body {
    padding: 0; }
    #comment_date_field .panel .panel-body .control-label {
      font-weight: bold; }
    #comment_date_field .panel .panel-body .controls .form-group {
      display: inline-block;
      padding-left: 15px;
      margin-bottom: 0; }

.bPost {
  margin-bottom: 2em; }
  .bPost .bTitle {
    margin: 0; }
  .bPost .small.text-muted {
    margin: 10px 0 20px; }
    .bPost .small.text-muted a, .bPost .small.text-muted a .glyphicon {
      color: inherit; }

form#user_checkchanges.bComment {
  border: none; }

div.bSideItem {
  background: #F7F5FA;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  text-shadow: 0 1px 0 #FFFFFF; }
  div.bSideItem h4 {
    margin-top: 0; }

/* ------------------------------------
    // Login/Register forms:
--------------------------------------*/
.skin-form .panel-body .panel {
  border: none;
  box-shadow: none; }
.skin-form .panel-body .panel-body {
  padding: 0; }
.skin-form .fieldset {
  margin: 0; }
  .skin-form .fieldset div.input {
    margin: 0; }
.skin-form .control-buttons, .skin-form div.input {
  padding: 0;
  width: 100%;
  text-align: center; }

.wrap-form-login, .wrap-form-lostpass, .wrap-form-register, .wrap-form-activation {
  min-width: 290px;
  margin: 1.5em auto auto; }
  .wrap-form-login .panel, .wrap-form-lostpass .panel, .wrap-form-register .panel, .wrap-form-activation .panel {
    margin: 5px 0; }
  .wrap-form-login .panel-body, .wrap-form-lostpass .panel-body, .wrap-form-register .panel-body, .wrap-form-activation .panel-body {
    padding: 20px 30px 0; }

.wrap-form-login {
  max-width: 400px; }

.wrap-form-lostpass {
  max-width: 480px; }
  .wrap-form-lostpass #ffield_x label {
    display: none; }

.wrap-form-activation {
  max-width: 530px; }
  .wrap-form-activation #activateinfo_form .control-buttons {
    text-align: left; }

.wrap-form-register {
  max-width: 580px; }
  .wrap-form-register .control-buttons {
    text-align: left; }
  .wrap-form-register.register-disabled {
    width: 350px; }
  .wrap-form-register .form-control#country, .wrap-form-register .form-control#u {
    width: 100%; }

.form-login-links {
  padding: 0 5px;
  font-size: 92%; }

.form-login fieldset {
  margin-bottom: 20px; }
.form-login .controls {
  padding: 0;
  margin: 0;
  width: 100%; }
.form-login .control-buttons {
  margin-left: 0; }
.form-login input.form-control[type=text], .form-login input.form-control[type=password] {
  width: 100%; }
.form-login .btn {
  margin-top: 5px; }
.form-login .form-actions {
  padding: 0;
  margin: 0 0 20px;
  background: none;
  border: none; }

#login_form .control-buttons {
  text-align: left; }

.standard_login_link {
  text-align: center;
  margin: 3em 0 1ex 0; }

.form_footer_notes {
  margin-top: 0; }

/* ------------------------------------
    // Pagination
--------------------------------------*/
.pagination {
  margin: 0; }

/* ------------------------------------
    // Messages
--------------------------------------*/
div.action_messages, div.log_container {
  margin: 0; }

/* ------------------------------------
    // Positions on the action buttons near page titles
--------------------------------------*/
.post_title {
  display: table; }
  .post_title h2 {
    display: table-cell;
    margin: 0;
    padding: 20px 0 10px; }
  .post_title .btn-group {
    display: table-cell;
    padding: 20px 0 10px 30px;
    vertical-align: middle; }

/* ------------------------------------
    Style Posts
--------------------------------------*/
h2.title_posts {
  font-weight: 900; }
  h2.title_posts a {
    color: #333333; }

.bMore {
  font-size: 14px; }

/*# sourceMappingURL=style.css.map */
